---
layout: default
title: Daniel Melcer
---

<div class="container" id="content">
    <div class="section">
        <div id="contactinfo">
            {% for contact in site.contact %}
            <div id="{{contact.type}}">
                <i class="fa fa-{{contact.icon}}"></i>
                <a rel="me" href="{{contact.link}}">{{contact.display}}</a>
            </div>
            {% endfor %}
        </div>

        <p></p>
        <p>
            {{ site.description }}
        </p>
        <a class="btn btn-primary" href="CV.pdf"
        >View Resume <i class="fa fa-file-pdf-o"></i
        ></a>

        <p></p>

        <div class="section">
            <h2>Recent Posts</h2>

            {% for post in site.posts limit:1 %}
            {% include inline_blog_excerpt.html post=post %}
            {% endfor %}

            <p>
                <a href="/blog">View more blog posts &raquo;</a>
            </p>
        </div>

        <div class="section" id="projects">
            <h2>Projects & Publications</h2>
            {% include project_list.html %}
        </div>

    </div>

    <!-- What's in the footer? -->
    <div id="cubes-footer">
        <!--
       _____ _    _ ____  ______  _____
      / ____| |  | |  _ \|  ____|/ ____|
     | |    | |  | | |_) | |__  | (___
     | |    | |  | |  _ <|  __|  \___ \
     | |____| |__| | |_) | |____ ____) |
      \_____|\____/|____/|______|_____/

      Ever wanted to have cubes move around the screen?
      Now, you can!
      But cubes really don't like if the mouse touches them- the mouse is too pointy.
            -->
        <div><a href="/cubes" id="cubes-footer-square"></a></div>
    </div>
</div>
