#content {
    position: relative;
    height: 100%;
}

.navbar-brand:hover {
    color: black;
}

.section{
    padding-top: 50px;
}

.section h1{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.section p, .timepoint .timedescription{
    color: #444444;
    font-family: 'Roboto Slab', serif;
}

.nav {
    font-family: 'Open Sans', sans-serif;
}

.timepoint {
    display: flex;
    flex-wrap: wrap;
}

.timepoint .time{
    font-style: italic;
    font-family: 'Roboto Slab', serif;
   
    margin-right: 1em;
}

.timepoint .timeheader{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}