#content {
    position: relative;
    height: 100%;
}

.navbar-brand:hover {
    color: black;
}

#content{
    padding-top: 50px;
}

.section h1, .section h2{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#contactinfo{
    margin-bottom: 1em;
}

.section p, .timepoint .timedescription{
    color: #444444;
    font-family: 'Roboto Slab', serif;
}

.nav {
    font-family: 'Open Sans', sans-serif;
}

.timepoint {
    display: flex;
    flex-wrap: wrap;
}

.timepoint .timecontent {

    min-width: 75%;
    flex: 1 0 300px;
}

.timepoint .time{
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    margin-right: 1em;
    min-width: 100px;
    color: #444444;
}

.timepoint .timeheader{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}