#cubes-footer-square {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  background-color: #f6f6f6;
  display: inline-block;
}

#cubes-footer {
  height: 50px;
  background-color: white;
  text-align: right;
}
